<ng-container *ngIf="core.coreState$ | async as coreState">
  <mat-toolbar color="primary" class="header">
    <button mat-icon-button (click)="sidenavService.toggle()">
      <mat-icon>{{
        (sidenavService.isExpanded$ | async) ? 'menu' : 'menu_open'
      }}</mat-icon>
    </button>
    <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
    <h2>{{ title$ | async }}</h2>
    <div class="project-selector" *ngIf="coreState.projectNames?.length">
      <mat-select name="project-selector" id="project-selector">
        <mat-option
          *ngFor="let project of coreState.projectNames"
          [value]="project"
        >
          {{ project }}
        </mat-option>
      </mat-select>
    </div>
    <button
      class="home-button"
      mat-icon-button
      aria-label="Home"
      [disabled]="!core.currentWorkspacePath"
      routerLink="/"
    >
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</ng-container>
