<ng-container *ngIf="core.coreState$ | async as coreState">
  <header class="main-header" *ngIf="coreState.projectNames.length">
    <div class="project-selector">
      <mat-select name="project-selector" id="project-selector">
        <mat-option
          *ngFor="let project of coreState.projectNames"
          [value]="project"
        >
          {{ project }}
        </mat-option>
      </mat-select>
    </div>
  </header>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</ng-container>
