# Add files here to ignore them from prettier formatting

/dist
/coverage
/codequality
/.vscode
/.husky
/.angular
/pnpm-lock.yaml
/.pnpm-store
/README.md
CHANGELOG.md
decorate-angular-cli.js
docker-compose.yml
